In [1]:
a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
c = ['Droughts', 'Storms']
d = [2.6,4.5,6.0,8.5]
e = [2030,2040,2050,2060,2070,2080,2090]
f = ['Floods']

In [2]:
import pandas as pd
from itertools import product
df1 = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df2 = pd.DataFrame(list(product(e,b,f,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df = df1.append(df2)
df.loc[df.Decade < 2030, 'RCP'] = None
df = df.drop_duplicates()

In [3]:
import numpy as np
df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
df['DO'] = np.random.randint(0,100, df.shape[0])
df['°C'] = np.random.randint(-60,50, df.shape[0])

In [4]:
floods = pd.read_csv('../data/flood_history_agregates.csv')
floods['Disaster_Type'] = floods['Disaster_Type'].replace(['Flood'],'Floods')
floods = floods.drop(['RCP'], axis=1)
df = df.append(floods)

In [5]:
df = df.sort_values(by=['Decade','UN_Geosheme_Subregion']).reset_index(drop=True)

In [6]:
df.to_csv('../data/input.csv',index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,DO,°C,Rain
0,1900,Australia and New Zealand,Droughts,NaN,52629964.0,369841.0,93,0.0,NaN
1,1900,Australia and New Zealand,Storms,NaN,60278322.0,940780.0,20,-39.0,NaN
2,1900,Caribbean,Droughts,NaN,90156315.0,6831.0,44,3.0,NaN
3,1900,Caribbean,Storms,NaN,34838036.0,689633.0,51,36.0,NaN
4,1900,Caribbean,Floods,NaN,0.0,300.0,1,NaN,0.0
...,...,...,...,...,...,...,...,...,...
2581,2090,Western Europe,Storms,8.5,98596571.0,481766.0,42,-26.0,NaN
2582,2090,Western Europe,Floods,2.6,89076639.0,601197.0,96,-20.0,NaN
2583,2090,Western Europe,Floods,4.5,42504926.0,890152.0,50,-11.0,NaN
2584,2090,Western Europe,Floods,6.0,34855634.0,202857.0,74,43.0,NaN
2585,2090,Western Europe,Floods,8.5,90923019.0,430249.0,98,-16.0,NaN

In [ ]:
df.query('Disaster_Type=="Floods" & Decade=="2030" ').head(50)