In [1]:
a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
c = ['Droughts']
d = [2.6,4.5,6.0,8.5]
e = [2030,2040,2050,2060,2070,2080,2090]
f = ['Floods', 'Storms']

In [2]:
import pandas as pd
from itertools import product
df1 = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df2 = pd.DataFrame(list(product(e,b,f,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df = df1.append(df2)
df.loc[df.Decade < 2030, 'RCP'] = None
df = df.drop_duplicates()

In [3]:
import numpy as np
df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
df['DO'] = np.random.randint(0,100, df.shape[0])
df['°C'] = np.random.randint(-60,50, df.shape[0])

In [4]:
floods = pd.read_csv('../data/flood_history_agregates.csv')
floods['Disaster_Type'] = floods['Disaster_Type'].replace(['Flood'],'Floods')
floods = floods.drop(['RCP'], axis=1)
df = df.append(floods)

In [5]:
storms = pd.read_csv('../data/tempetes_hist_temperatures.csv', index_col=0)
df = df.append(storms)

In [6]:
df = df.sort_values(by=['Decade','UN_Geosheme_Subregion']).reset_index(drop=True)

In [14]:
df.to_csv('../data/input.csv',index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,DO,°C,Rain
0,1900,Australia and New Zealand,Droughts,NaN,75463267.0,41270.0,38,30.0,NaN
1,1900,Caribbean,Droughts,NaN,58232718.0,441782.0,58,-60.0,NaN
2,1900,Caribbean,Floods,NaN,0.0,300.0,1,NaN,0.0
3,1900,Caribbean,Storms,NaN,0.0,0.0,2,23.0,NaN
4,1900,Central America,Droughts,NaN,90867644.0,126196.0,25,36.0,NaN
...,...,...,...,...,...,...,...,...,...
2484,2090,Western Europe,Floods,8.5,87692224.0,986257.0,33,10.0,NaN
2485,2090,Western Europe,Storms,2.6,49430672.0,215651.0,48,-1.0,NaN
2486,2090,Western Europe,Storms,4.5,84484781.0,914224.0,8,-46.0,NaN
2487,2090,Western Europe,Storms,6.0,10120768.0,517648.0,98,-8.0,NaN
2488,2090,Western Europe,Storms,8.5,12162479.0,799076.0,0,-8.0,NaN

In [15]:
df.query('Disaster_Type=="Storms" & Decade=="1970" ').head(50)

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,DO,°C,Rain
271,1970,Australia and New Zealand,Storms,NaN,2624815.0,45100.0,20,21.0,NaN
274,1970,Caribbean,Storms,NaN,382350.0,1353210.0,15,24.0,NaN
277,1970,Central America,Storms,NaN,651380.0,1203800.0,12,22.0,NaN
281,1970,Eastern Africa,Storms,NaN,794820.0,4099199.0,13,22.0,NaN
284,1970,Eastern Asia,Storms,NaN,2029100.0,405789.0,35,16.0,NaN
288,1970,Melanesia,Storms,NaN,23500.0,175750.0,17,24.0,NaN
290,1970,Micronesia,Storms,NaN,120000.0,700.0,2,27.0,NaN
293,1970,Middle Africa,Storms,NaN,0.0,0.0,1,26.0,NaN
296,1970,Northern Africa,Storms,NaN,0.0,15000.0,1,22.0,NaN
299,1970,Northern America,Storms,NaN,7262500.0,2446.0,29,4.0,NaN
302,1970,Northern Europe,Storms,NaN,0.0,0.0,4,6.0,NaN
304,1970,Polynesia,Storms,NaN,1600.0,11400.0,3,26.0,NaN
307,1970,South America,Storms,NaN,9300.0,190000.0,7,13.0,NaN
310,1970,South-Eastern Asia,Storms,NaN,771535.0,11196947.0,59,25.0,NaN
315,1970,Southern Asia,Storms,NaN,1244692.0,25408457.0,50,24.0,NaN
318,1970,Southern Europe,Storms,NaN,539200.0,5200.0,8,12.0,NaN
321,1970,Western Africa,Storms,NaN,3600.0,10000.0,2,26.0,NaN
324,1970,Western Asia,Storms,NaN,0.0,5000.0,3,20.0,NaN
327,1970,Western Europe,Storms,NaN,1742000.0,0.0,10,8.0,NaN