In [1]:
a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
c = ['Droughts', 'Floods', 'Storms']
d = [2.6,4.5,6.0,8.5]

In [2]:
import pandas as pd
from itertools import product
df = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df.loc[df.Decade < 2030, 'RCP'] = None
df = df.drop_duplicates()

In [3]:
import numpy as np
df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
df['DO'] = np.random.randint(0,100, df.shape[0])
#df['#LoDO'] = np.random.randint(0,100, df.shape[0])
#df['#MeDO'] = np.random.randint(0,100, df.shape[0])
#df['#HiDO'] = np.random.randint(0,100, df.shape[0])
df['°C'] = np.random.randint(-60,50, df.shape[0])

In [4]:
df.to_csv('../data/randominput.csv',index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,DO,°C
0,1900,Australia and New Zealand,Droughts,NaN,97929068,538777,27,21
4,1900,Australia and New Zealand,Floods,NaN,45575723,86978,84,3
8,1900,Australia and New Zealand,Storms,NaN,15848786,683556,5,-53
12,1900,Caribbean,Droughts,NaN,99881443,379788,57,-31
16,1900,Caribbean,Floods,NaN,73940077,812265,87,-32
...,...,...,...,...,...,...,...,...
5275,2090,Western Europe,Floods,8.5,62282978,929559,2,3
5276,2090,Western Europe,Storms,2.6,68873038,996828,72,36
5277,2090,Western Europe,Storms,4.5,14359989,805245,40,24
5278,2090,Western Europe,Storms,6.0,43512633,236083,94,-59
5279,2090,Western Europe,Storms,8.5,26957660,449505,36,-8